# Project Design Writeup

In [27]:
import pandas as pd

df_train = pd.read_csv('//Users/asorrentino/ds-work/homework/final-projects/data/train.csv')
df_macro = pd.read_csv('/Users/asorrentino/ds-work/homework/final-projects/data/macro.csv')

### Project Problem and Hypothesis

My project is to predict real estate transaction prices given building characterstics, neighborhood characteristics and macro-economic indicators.

The outcome variable, price of transactions, is a continuous number so a linear regression model will likely be used for the analysis.

I think certain building characteristics and neighborhood characteristics will have the most impact on real esate prices. While I do think a few macro-economic variables will impact the prices, I think the building characteristics such as square feet will have the largest impact on price.

### Datasets

The datasets will be split into three categories: the internal building characteristics, the neighboorhood characteristics, and the macro-economic indicators.

The building characteristics, which include full_sq (total area in square meters, including loggias, balconies and other non-residential areas), life_sq (living area in square meters, excluding loggias, balconies and other non-residential areas), floor (for apartments, floor of the building), max_floor (number of floors in the building), build_year (year built), num_room (number of living rooms), kitch_sq (kitchen area) and state (apartment condition). Also included is the price_doc, which is the transaction price (outcome variable).

In [28]:
df_train_apt = df_train[['full_sq', 'life_sq', 'floor', 'max_floor', 'build_year', 'num_room', 'kitch_sq', 'state', 'price_doc']]
df_train_apt.head()

,full_sq,life_sq,floor,max_floor,build_year,num_room,kitch_sq,state,price_doc
0,43,27.00,4.00,nan,nan,nan,nan,nan,5850000
1,34,19.00,3.00,nan,nan,nan,nan,nan,6000000
2,43,29.00,2.00,nan,nan,nan,nan,nan,5700000
3,89,50.00,9.00,nan,nan,nan,nan,nan,13100000
4,77,77.00,4.00,nan,nan,nan,nan,nan,16331452

The neighborhood (or raion in Russian) characteristics, which include a collection of features about each property's surrounding area. This includes variables such as population, schools, distance to cafes, etc.

In [29]:
df_train_raion = df_train.iloc[:,12:]
df_train_raion.head()

,sub_area,area_m,raion_popul,green_zone_part,indust_part,children_preschool,preschool_quota,preschool_education_centers_raion,children_school,school_quota,...,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000,price_doc
0,Bibirevo,"6,407,578.10",155572,0.19,0.00,9576,"5,001.00",5,10309,"11,065.00",...,9,4,0,13,22,1,0,52,4,5850000
1,Nagatinskij Zaton,"9,589,336.91",115352,0.37,0.05,6880,"3,119.00",5,7759,"6,237.00",...,15,3,0,15,29,1,10,66,14,6000000
2,Tekstil'shhiki,"4,808,269.83",101708,0.11,0.12,5879,"1,463.00",4,6207,"5,580.00",...,10,3,0,11,27,0,4,67,10,5700000
3,Mitino,"12,583,535.69",178473,0.19,0.07,13087,"6,839.00",9,13670,"17,063.00",...,11,2,1,4,4,0,0,26,3,13100000
4,Basmannoe,"8,398,460.62",108171,0.02,0.04,5706,"3,240.00",7,6748,"7,770.00",...,319,108,17,135,236,2,91,195,14,16331452

The macro-economic indicators, one for each date:

In [30]:
df_macro.head()

,timestamp,oil_urals,gdp_quart,gdp_quart_growth,cpi,ppi,gdp_deflator,balance_trade,balance_trade_growth,usdrub,...,provision_retail_space_modern_sqm,turnover_catering_per_cap,theaters_viewers_per_1000_cap,seats_theather_rfmin_per_100000_cap,museum_visitis_per_100_cap,bandwidth_sports,population_reg_sports_share,students_reg_sports_share,apartment_build,apartment_fund_sqm
0,2010-01-01,76.10,nan,nan,nan,nan,nan,nan,nan,nan,...,690.00,"6,221.00",527.00,0.41,993.00,nan,nan,63.03,"22,825.00",nan
1,2010-01-02,76.10,nan,nan,nan,nan,nan,nan,nan,nan,...,690.00,"6,221.00",527.00,0.41,993.00,nan,nan,63.03,"22,825.00",nan
2,2010-01-03,76.10,nan,nan,nan,nan,nan,nan,nan,nan,...,690.00,"6,221.00",527.00,0.41,993.00,nan,nan,63.03,"22,825.00",nan
3,2010-01-04,76.10,nan,nan,nan,nan,nan,nan,nan,29.91,...,690.00,"6,221.00",527.00,0.41,993.00,nan,nan,63.03,"22,825.00",nan
4,2010-01-05,76.10,nan,nan,nan,nan,nan,nan,nan,29.84,...,690.00,"6,221.00",527.00,0.41,993.00,nan,nan,63.03,"22,825.00",nan

### Domain Knowledge

My experience:

I have a little experience in commercial real estate from both college and my first few yeasr of work. In college, I studied Business & Technology and took many classes on financial markets. In my early career, I worked with REITs (real estate investment trusts) so am familiar with the CRE space. I think this experience will be helpful for analyzing the different variables and understanding how they should related to each other.

Other research:

Since this is a Kaggle competition, there are a number of forums and discussions related to the project which will prove helpful if needed.

There are also a number of papers and studies on predicting real estate prices, however, from a cursory Google look it appears that they are mostly about predicting prices given housing characteristics, not including macro-economic data.

### Project Concerns

Questions/concerns about the project:

At this point, I understand the dataset very well. My concerns are now in being able to transform the data into something usable (it needs to be cleaned up) and then using the models we have learned thus far to run an analysis.

My biggest concern, or question, at this point is in using the test dataset (how do I use that, when, where, etc.). This is not something we have specifically covered in class yet.

Assumptions/caveats:

My assumption is that not all the variables and data provided will be useful in predicting the transaction prices. This means that I will have to run a number of tests to understand which features are most useful for my analysis.

Other data or knowledge that I may need to research is macro-economic trends in Russia during the timeframe of this dataset. I think this will be helpful to understand bigger picture what was happening in the economy and country at the time. This may prove necessary to understand jumps or drops in prices, regulation changes that might affect building characteristics, etc.

### Outcomes

I expect the output to be a multiple linear regression model that takes into account a number of features from each dataset to predict real estate transactions. There may also be a classification model I can build on the data to determine type of investment or building, but this will be a phase 2 of the project.

I suspect that the most important feature of the model will be square footage, and that should have the largest impact on transaction price.

I do not think the model will have to be relatively complex. I think the complexity will be in determing what are the most important features to use from the different datasets and see which of those features has any impact on the outcome.

For me, this project will be used as a portfolio piece to show job prospects. My goal is to demonstrate that I understand the domain and can apply these skills in a useful business application. If the project goes bust, I can find a new project to work on.